.about-container {
  display: flex;
  gap: 20px;
  align-items: stretch; /* Wyrównanie obu kafelków do tej samej wysokości */
}

/* Kafelek ze zdjęciem */
.photo-tile {
  flex-shrink: 0;
  width: 450px;
  height: 450px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #323232; /* głęboki szary */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* subtelny cień */
  position: relative; /* Umożliwia pozycjonowanie przycisku wewnątrz */
}

.photo-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Przycisk pobierania CV */
.download-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #DAA520; /* ciepły, złoty akcent */
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: transform 0.2s ease;
}

.download-button:hover {
  transform: scale(1.05);
}

.download-button span {
  color: #262626; /* ciemny kontrast dla złotego tła */
  font-weight: bold;
  margin-right: 8px;
  font-size: 14px; /* nieco mniejszy tekst */
}

.download-button img {
  width: 24px;  
  height: 24px;
  transform: scale(1.33); /* wizualnie zwiększa ikonę bez zmiany wymiarów kontenera */
}

/* Kafelek z tekstem */
.text-tile {
  flex: 1;
  height: 410px;
  line-height: 0.8;
  border-radius: 15px;
  background-color: #323232; /* głęboki szary */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.text-tile h1 {
  margin-top: 10px;
  color: #E0E0E0; /* jasny kolor tekstu */
  border-bottom: 2px solid #DAA520;  /* złoty akcent w postaci linii */
  padding-bottom: 5px;
}

.text-tile p {
  color: #CCCCCC;
  line-height: 1.6;
}