.navbar {
  background-color: #323232; /* głęboki szary */
  border-radius: 15px;
  padding: 20px;
  margin: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: calc(100% - 40px);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  height: 35px; /* Dostosuj wysokość logo według potrzeb */
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar a {
  color: #CCCCCC; /* jasny tekst */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
  padding-bottom: 5px;
}

.navbar a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #DAA520; /* złoty akcent */
  transition: width 0.3s ease;
}

.navbar a:hover:after {
  width: 100%;
}

.navbar a:hover {
  color: #DAA520; /* zmiana koloru na złoty przy hover */
}

.navbar a.active {
  font-weight: bold;
  color: #DAA520;
}

.navbar a.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #DAA520;
}

.navbar button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar button img {
  width: 32px;
  height: 32px;
}